assets/*
*.pt
*.spec
.idea
.wsi_cache/
current_wsi_analysis.json
logs/*.log
docs
*.pyc
__pycache__/
deployment/*
nuitka-crash-report.xml
*.db
.venv
*.dist
*.onnx
dist
build
*.egg-info
*.egg
*.log
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
*.vscode
*.ipynb_checkpoints
*.env
.env.*
*.zip
*.tar.gz
*.7z
*.exe
*.dll
*.so
*.dylib
/data/wsi_data.db-shm
/data/wsi_data.db-wal
assets/
data